---
layout: layout.njk
script: /js/index.js
--- 
   <div class="column is-6 is-centered">
    <section>
      <div class="box has-text-centered  mt-6 has-background-info ">
       <p class="title is-1 is-family-code has-text-white"> Dashboad</p>
       <p class="title is-3 is-family-code has-text-white">Today</p>
      </div>
    </section>
   </div>
  </div>   
  </header>
  <main class="columns is-multiline is-centered box has-background-info">
  </main>
 