 <header class="columns has-background-info">
     <div class="column is-3" id="logo box">
       <section>
         <figure class="image is-2by1">
           <img src="/images/logo.png" alt="Logo" />
         </figure>
       </section>
     </div>