 <nav class="navbar has-background-info">
      <div class="navbar-brand ">
        <a class="navbar-item" href="#">
          <figure class="navimage is-96x96">
          <img src="/images/favicon.png" alt="Logo"/>
          </figure>
        </a>
        <span class="navbar-burger" data-target="navbarMenu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item has-text-white">
            Home
          </a>
          <a class="navbar-item has-text-white">
            Dashboard
          </a>
          <a class="navbar-item has-text-white">
            Settings
          </a>
        </div>
      </div>
    </nav>